.place-order {
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height: 100%;
    margin: auto;
    padding-bottom: 200px;
    /* padding-bottom: 150px;
    padding-top: 55px; */
}

.place-order-left {
    margin-top: 200px;
    width: 100%;
    max-width: max(30%, 500px);
}

.place-order-left .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
}

.place-order-left input {
    margin-bottom: 15px;
    width: 100%;
    padding: 15px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    outline-color: palevioletred;
}

.place-order-left .multi-fields {
    display: flex;
    gap: 10px;
}

.place-order-right {
    margin-top: 200px;
    width: 100%;
    max-width: max(40%, 500px);
}

.place-order .cart-total button {
    margin-top: 30px;
}

@media(max-width:750px) {
    .place-order {

        flex-direction: column;
        padding-bottom: 0px;
    }
}